@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

.signup {
  position: absolute;
  top: 14vh;
  display: flex;
}

.signup1 {
  background: url(./signupBackground.jpg),
    radial-gradient(50% 50% at 50% 50%, #ffffff 0%, rgba(188, 197, 214, 0) 100%);
}

.signup1 h2 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  letter-spacing: -0.011em;
  text-align: center;
  color: #08299b;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.signup1 h3 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 47px;
  line-height: 150%;
  text-align: center;
  letter-spacing: -0.011em;
  color: #000000;
}

.signup1 p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
  text-align: center;
  letter-spacing: -0.011em;
  color: #333232;
}

.signup1 .image {
  background: url(./signupImage.jpg), #d9d9d9;
  border-radius: 20px;
}

.signup2 {
  background: #e0e4ec;
}

.signupForm {
  background: #f2f2f2;
  border-radius: 20px;
}

.signupForm h1 {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  text-align: center;
  letter-spacing: -0.011em;
  color: #000000;
}

.name label {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 150%;
  text-align: center;
  letter-spacing: -0.011em;
  color: #000000;
}

.name input {
  border: none;
  background: #e0e4ec;
  border-radius: 12px;
}

.name input::placeholder {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 150%;
  text-align: center;
  letter-spacing: -0.011em;
  color: #c1c1c1;
}

.email label {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 150%;
  text-align: center;
  letter-spacing: -0.011em;
  color: #000000;
}

.email input {
  border: none;
  background: #e0e4ec;
  border-radius: 12px;
}

.email input::placeholder {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 150%;
  text-align: center;
  letter-spacing: -0.011em;
  color: #c1c1c1;
}

.password label {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 150%;
  text-align: center;
  letter-spacing: -0.011em;
  color: #000000;
}

.password input {
  border: none;
  background: #e0e4ec;
  border-radius: 12px;
}

.password input::placeholder {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 150%;
  text-align: center;
  letter-spacing: -0.011em;
  color: #c1c1c1;
}

.signupForm form button {
  color: #ffffff;
  background: #08299b;
  border-radius: 12px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 150%;
  text-align: center;
  letter-spacing: -0.011em;
}

.signupForm p {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 150%;
  text-align: center;
  letter-spacing: -0.011em;
  color: #000000;
}

.signupForm button {
  border: none;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.signupForm span {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  letter-spacing: -0.011em;
  color: red;
}
