@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

footer {
  display: flex;
  justify-content: space-around;
  padding: 2rem 0rem;
  background: #e0e4ec;
  font-family: "DM Sans";
  font-weight: 500;
}
footer h5 {
  color: #08299b;
  font-size: 30px;
  line-height: 150%;
  letter-spacing: -0.011em;
  margin-bottom: 1rem;
}
