@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

.signup {
  display: flex;
}

.signup1 {
  /* position: absolute; */
  width: 719px;
  height: 1024px;
  left: 719px;
  top: 0px;
  background: url(../Signup/signupBackground.jpg),
    radial-gradient(50% 50% at 50% 50%, #ffffff 0%, rgba(188, 197, 214, 0) 100%);
}

.signup1 h2 {
  width: 264px;
  height: 75px;
  margin-left: 190px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  /* identical to box height, or 75px */

  letter-spacing: -0.011em;
  text-align: center;
  color: #08299b;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.signup1 h3 {
  position: absolute;
  width: 451px;
  height: 146px;
  /* left: 874px; */
  top: 167px;
  left: 100px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 47px;
  line-height: 150%;
  /* or 75px */

  text-align: center;
  letter-spacing: -0.011em;

  color: #000000;
}

.signup1 p {
  position: absolute;
  width: 547px;
  height: 98px;
  /* left: 832px; */
  top: 332px;
  left: 70px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
  /* or 45px */

  text-align: center;
  letter-spacing: -0.011em;

  color: #333232;
}

.signup1 .image {
  position: absolute;
  width: 675px;
  height: 517px;
  /* left: 719px; */
  top: 439px;

  background: url(../Signup/signupImage.jpg), #d9d9d9;
  border-radius: 20px;
}

.signup2 {
  /* position: absolute; */
  width: 719px;
  height: 1024px;
  left: 0px;
  top: 0px;

  background: #e0e4ec;
}

.signupForm {
  /* position: absolute; */
  width: 643px;
  height: 879px;
  left: calc(50% - 643px / 2 - 322.5px);
  top: 76px;

  background: #f2f2f2;
  border-radius: 20px;
}

.signupForm h2 {
  position: absolute;
  width: 525px;
  height: 41px;
  left: 719px;
  top: 150px;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 150%;
  /* or 60px */

  text-align: center;
  letter-spacing: -0.011em;

  color: #000000;
}

.signupForm p {
  position: absolute;
  width: 457px;
  height: 51px;
  left: 750px;
  top: 220px;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 150%;
  /* or 38px */

  text-align: center;
  letter-spacing: -0.011em;

  color: #000000;
}

.email label {
  position: absolute;
  width: 223px;
  height: 57px;
  left: 670px;
  top: 359px;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 150%;
  /* or 38px */

  text-align: center;
  letter-spacing: -0.011em;

  color: #000000;
}

.email input {
  position: absolute;
  width: 608px;
  height: 58px;
  left: 690px;
  top: 409px;
  border: none;
  background: #e0e4ec;
  border-radius: 12px;
}

.email input::placeholder {
  width: 140px;
  height: 23px;
  left: 719px;
  top: 427px;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 150%;
  /* identical to box height, or 22px */

  text-align: center;
  letter-spacing: -0.011em;

  color: #c1c1c1;
}

.password label {
  position: absolute;
  width: 223px;
  height: 57px;
  left: 650px;
  top: 501px;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 150%;
  /* or 38px */

  text-align: center;
  letter-spacing: -0.011em;

  color: #000000;
}

.password input {
  position: absolute;
  width: 608px;
  height: 58px;
  left: 690px;
  top: 551px;
  border: none;
  background: #e0e4ec;
  border-radius: 12px;
}

.password input::placeholder {
  width: 107px;
  height: 23px;
  left: 719px;
  top: 570px;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 150%;
  /* identical to box height, or 22px */

  text-align: center;
  letter-spacing: -0.011em;

  color: #c1c1c1;
}

.signupForm form button {
  position: absolute;
  width: 326px;
  height: 59px;
  left: 800px;
  top: 658px;

  background: #08299b;
  border-radius: 12px;
  border: none;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 150%;
  text-align: center;
  letter-spacing: -0.011em;
}

.linkText {
  color: #ffffff;
  text-decoration: none;
}
.signupForm span {
  position: absolute;

  height: 35px;
  left: 719px;
  top: 620px;

  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  /* or 38px */

  text-align: center;
  letter-spacing: -0.011em;

  color: red;
}
